@media screen and (max-width: 920px) {
    .profile{
        &__dropdown{
            &-name{
                display: none;
            }
    
            &-content{
                margin-left: -50px;
            }
        }

        &__sign{
            *{
                padding: 8px 12px;
                width: 75px;
                font-size: 0.9rem;
                margin-inline: 2px;
            }
        }
    }
   
}

@media screen and (max-width: 540px) {

    .header{
        &__menu{
            display: none;
        }

        &__toggle{
            display: flex;
        }

        &.active-menu {

            .header__web{   
                height: 0;
                box-shadow: none;
                transition: height 0.5s, box-shadow 1s;
            }

            .header__none{
                position: fixed;
                width: 15vw !important;
                height: 100%;
                right: 0;
                background: none;
            }

            .header__mobile{
                // position:fixed;
                // background: white;
                padding: 25px;
                // z-index: 10;
                width: 85vw;
                transition: width 0.5s, padding 0.2s;
                box-shadow: 0 0 3px 4px lightgray;
                // height: 100vh;
                // display: flex;
                // flex-direction: column;

                *{
                    visibility: visible;
                    opacity: 1;
                    transition: visibility 0.5s, opacity 0.5s linear;
                }

                &-menu a{
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}