<main>
    <article class="banner"></article>
    <section class="profile">
        <article class="profile__image">
            <div class="profile__image-check"><i class="fa-solid fa-check"></i></div>
        </article>
        <article class="profile__info">
            <h2 class="profile__info-name">Lesly</h2>
            <span class="profile__info-description">22 years | Frontend</span>
        </article>
    </section>
    <section class="resume">
        <article class="resume__list">
            <h3>Skills / Languages</h3>
            <div class="resume__list-items">
                <ul>
                    <li>HTML</li>
                    <li>SASS</li>
                    <li>CSS</li>
                    <li>GIT</li>
                    <li>JS6</li>
                    <li>Azure</li>
                    <li>Angular</li>
                    <li>React</li>
                    <li>RxJS</li>
                    <li>VUE</li>
                    <li>FIREBASE</li>
                    <li>Mongo</li>
                    <li>HTML</li>
                    <li>SASS</li>
                    <li>CSS</li>
                    <li>GIT</li>
                    <li>JS6</li>
                    <li>Azure</li>
                    <li>Angular</li>
                    <li>React</li>
                    <li>RxJS</li>
                    <li>VUE</li>
                    
                    
                </ul>
            </div>
        </article>
        <article class="resume__list second">
            <div class="resume__list-paged">
                <div class="resume__list-posts">
                    <h3>Posts</h3>
                    <h3>Total</h3>
                    <p><i class="fa-solid fa-paste"></i>&nbsp&nbsp3 Posts</p>
                </div>
                <div class="resume__list-items">
                    <div class="resume__list-item">
                        <div class="item__text-content">
                            <h4>Complete Guide: Angular lifecycle hooks</h4>
                            <p>Published: 5 Jun</p>
                        </div>
                        <div class="item__icons">
                            <p><i class="fa-solid fa-heart"></i>&nbsp 14</p>
                            <p><i class="fa-solid fa-comment"></i>&nbsp 4</p>
                        </div>
                    </div>
                    <div class="resume__list-item">
                        <div class="item__text-content">
                            <h4>Complete Guide: Angular lifecycle hooks</h4>
                            <p>Published: 5 Jun</p>
                        </div>
                        <div class="item__icons">
                            <p><i class="fa-solid fa-heart"></i>&nbsp 14</p>
                            <p><i class="fa-solid fa-comment"></i>&nbsp 4</p>
                        </div>
                    </div>
                    <div class="resume__list-item">
                        <div class="item__text-content">
                            <h4>Complete Guide: Angular lifecycle hooks</h4>
                            <p>Published: 5 Jun</p>
                        </div>
                        <div class="item__icons">
                            <p><i class="fa-solid fa-heart"></i>&nbsp 14</p>
                            <p><i class="fa-solid fa-comment"></i>&nbsp 4</p>
                        </div>
                    </div>
                    <div class="resume__list-item">
                        <div class="item__text-content">
                            <h4>Complete Guide: Angular lifecycle hooks</h4>
                            <p>Published: 5 Jun</p>
                        </div>
                        <div class="item__icons">
                            <p><i class="fa-solid fa-heart"></i>&nbsp 14</p>
                            <p><i class="fa-solid fa-comment"></i>&nbsp 4</p>
                        </div>
                    </div>
                    <div class="resume__list-item">
                        <div class="item__text-content">
                            <h4>Complete Guide: Angular lifecycle hooks</h4>
                            <p>Published: 5 Jun</p>
                        </div>
                        <div class="item__icons">
                            <p><i class="fa-solid fa-heart"></i>&nbsp 14</p>
                            <p><i class="fa-solid fa-comment"></i>&nbsp 4</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resume__list-pagination">
                <i class="fa-solid fa-chevron-left"></i>
                <div class="pagination"><p>1</p></div>
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </article>
    </section>
</main>
