<main class="container">
	<section class="title-page">
		<h2>Boards</h2>
	</section>
	<section class="board" id="board">
		<!-- <article class="board__item" *ngFor="let board of boards"> -->
		<article class="board__item">
			<div class="board__about-channel">
				<h4 class="board__about-channel__title">board.title</h4>
				<p class="board__about-channel__description">board.content</p>
				<!-- <h4 class="board__about-channel__title">{{ board.title }}</h4>
				<p class="board__about-channel__description">{{ board.content }}</p> -->
				<!-- <a routerLink="/channels/{{ board.title | formatUrl | lowercase }}" class="board__about-channel__link">Go to section</a> -->
				<a class="board__about-channel__link">Go to section</a>
			</div>
			<div class="board__more-information">
				<div class="board___stadistics">
					<div class="board__more-information__item">
						<label>Last topics</label>
						<p>7</p>
					</div>
					<div class="board__more-information__item">
						<label>Last Users</label>
						<p>7</p>
					</div>
					<div class="board__more-information__item">
						<label>Most recent</label>
						<p>Lorem, ipsum dolor.</p>
					</div>
				</div>
				<a class="board__btn-i">Access</a>
				<!-- <a routerLink="/channels/{{ board.title | formatUrl | lowercase }}" class="board__btn-i">Access</a> -->
			</div>
		</article>
	</section>
</main>
