@import './sass/header', './sass/profile', './sass/responsive', './sass/boards';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active{
    text-decoration: underline;
}

.board{
    &-url{
        color: black;
        text-decoration: none;
        
    }
    
    &-title{
        color: black;
        text-decoration: none;    
    }
}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    width: 30px;
    height: 30px;
    margin: 4px;
    border: 4px solid #0195ff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0195ff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
