@import '../../../../sass/variables';

.reports{
    &__title{
        font-size: 1.3em;
        font-weight: 600;
    }

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
        cursor: pointer;

        &-card{
            display: grid;
            place-items: center;
        }

        *{
            margin-block: 8px;
        }
    }
}

.my-pagination ::ng-deep .ngx-pagination .current {
	background: $--main--100;
	border-radius: 50%;
	padding: 5px 10px;
	color: black;
}

.my-pagination ::ng-deep .ngx-pagination li :hover{
    background: none;
}

.my-pagination ::ng-deep .ngx-pagination .pagination-next a::after {
    color: $description-text;
}

.my-pagination ::ng-deep .ngx-pagination .pagination-previous a::before {
    color: $description-text;
}

.card{
    &__image{
        width: 60%;
    }

    &__title{
        font-size: 1.1em;
        font-weight: 600;
        color: #03A79D;
    }

    &__description{
        color: gray;
        font-size: 1em;
    }
}

.header{
    &__title{
        font-size: 2rem;
        font-weight: bold;
    }

    &__description{
        color: gray;
        font-size: 1.4rem;
    }
}

.news{
    &__title{
        color: #FF3C67;
        font-weight: 600;
    }

    &__items{
        margin-top: 25px;
        display: flex;
        flex-wrap: wrap;
    }
}

.item{
    flex: 1 0 33%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    // box-shadow: 0 0 40px 2px lightgrey;

    img{
        width: auto;
        height: 120px;
        object-fit: contain;
    }

    &__title{
        color: #0195ff;
        font-weight: 600;
        font-size: 1.2em;
        margin: 15px 0 10px 0;
    }

    &__description{
        color: gray;
        font-size: 0.9em;
    }

    &__footer{
        display: flex;
        color: gray;
        margin: 15px 0;
        width: 75%;
        font-size: 0.8em;
        justify-content: space-between;
    }
}

.menu{
    &__notifications{
        color: #0195ff;
        font-size: 1.2em;
    }

    &__profile {
        img{
            border-radius: 50%;
            width: 60px;
            height: 60px;
            object-fit: cover;
        }
    }
}