@import 
    './sass/boards', 
    './sass/card', 
    './sass/field', 
    './sass/list', 
    './sass/menu', 
    './sass/mod', 
    './sass/utils';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}