.my-pagination ::ng-deep .ngx-pagination .current {
	background: $--main--100;
	border-radius: 50%;
	padding: 5px 10px;
	color: black;
}

.my-pagination ::ng-deep .ngx-pagination li :hover{
    background: none;
}

.my-pagination ::ng-deep .ngx-pagination .pagination-next a::after {
    color: $description-text;
}

.my-pagination ::ng-deep .ngx-pagination .pagination-previous a::before {
    color: $description-text;
}
