@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'variables';
@import '~quill/dist/quill.snow.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    width: 100%;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
  .lds-dual-ring:after {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #0195ff;
    border-color: #0195ff transparent #0195ff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    width: 30px;
    height: 30px;
    margin: 4px;
    border: 4px solid #0195ff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0195ff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.container{
    width: min(100% - 2rem, 1200px);
	margin-inline: auto;
    // padding: 0 1.25rem;
    height: 100%;
}

// Iconos de font awesome
.fa-brands{
	color: #FFFFFF;
	font-size: 1.4rem;
}

//* Ocular campos en formularios
.disabled-input{
	visibility: hidden;
}

//* Formularios invalidos
input.ng-invalid.ng-touched{
	border: 1px solid red;
}

//* Mensaje de alerta
.alert-danger{
	display: block;
	border: 1px solid #ff4136;
	background-color: #f8d7da;
	color: #842029;
	padding: .5rem;
	border-radius: 5px;
	margin: 1rem auto;
	width: 100%;
	text-align: center;
}

//* Bloque de código
pre {
	border-radius: 5px;
	padding: 1rem;
	background-color: $--main--50;
	color: $--main--800;
	width: 100%;
	overflow-x: scroll;
}

//* Overriding quill editor styles
.ql-container .ql-snow {
	position: unset;
}

.ql-container {
	position: unset;
}

.ql-snow {
	position: unset;
}

.ql-editor.ql-blank::before {
	position: unset;
	color: $description-text;
	font-style: normal;
}

.ql-editor::before {
	position: unset;
	color: $description-text;
	font-style: normal;
}

.ql-blank::before {
	position: unset;
	color: $description-text;
	font-style: normal;
}

.ql-toolbar.ql-snow {
    border: 1px solid #ccc;
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding: 8px;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-top: 0px;
    border-radius: 0 0 10px 10px;
}
