<main class="header">
    <section class="header__web">
        <a><img src="./assets/Logos/Atos_Logo.png" alt="" class="header__logo"></a>
        <div (click)="toggleMenu()" class="header__toggle"></div>
        <ul class="header__menu">
            <li><a [routerLink]="['/']">Home</a></li>
            <li><a>Categories</a></li>
            <li><a>QA</a></li>
            <li class="profile__dropdown">
                <a class="profile__dropdown-btn">
                    <img src="./assets/Profile/pfp_6.jpg" alt="" class="profile__dropdown-image">
                    <p class="profile__dropdown-name">My Profile</p>
                </a>
                <div class="profile__dropdown-content">
                    <a>My Profile</a>
                    <a>Logout</a>
                </div>
            </li>
        </ul> 
    </section>
    <section class="header__mobile">
        <div class="header__mobile-menu">
            <a>Home</a>
            <a>Categories</a>
            <a>QA</a>
            <a>My Profile</a>
        </div>
    </section>
</main>
