<main class="header">
    <section class="header__web">
        <a (click)="iconToggleMenu()" [routerLink]="['/']"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Atos_logo.png" alt="" class="header__logo"></a>
        <div (click)="toggleMenu()" class="header__toggle"></div>
        <ul class="header__menu">
            <li><a>Home</a></li>
            <li><a>Categories</a></li>
            <li><a>QA</a></li>
            <li class="profile__dropdown" *ngIf="loggedIn; else elseProfile">
                <a class="profile__dropdown-btn">
                    <img src="https://images.pexels.com/photos/1382731/pexels-photo-1382731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="profile__dropdown-image">
                    <p class="profile__dropdown-name">My Profile</p>
                </a>
                <div class="profile__dropdown-content">
                    <a [routerLink]="['/myprofile']">My Profile</a>
                    <a (click)="onLogout()">Logout</a>
                </div>
            </li>
            <ng-template #elseProfile>
                <div class="profile__sign">
                    <button class="profile__sign-in" [routerLink]="['/sign-in']">Login</button>
                    <button class="profile__sign-up" [routerLink]="['/sign-up']">Sign up</button>
                </div>
            </ng-template>
        </ul>
    </section>
    <section class="header__mobile" (click)="toggleMenu()">
        <div class="profile__mobile" [routerLink]="['/profile']">
            <img src="https://images.pexels.com/photos/1382731/pexels-photo-1382731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="profile__img">
            <h3 class="profile__mobile-name">Lesly</h3>
            <p class="profile__mobile-email">someone@example.com</p>
        </div>
        <hr>
        <div class="boards" *ngFor="let board of boards">
            <i class="fa-solid fa-rectangle-list"></i>{{board}}
        </div>
        <hr>
        <div class="profiles" *ngFor="let profile of profiles">
            <i class="fa-regular fa-id-card"></i>{{profile}}
        </div>
    </section>
    <section class="header__none" (click)="toggleMenu()"></section>
    <!-- <section class="header__mobile" (click)="toggleMenu()">
        <div class="header__mobile-menu">
            <a>Home</a>
            <a>Categories</a>
            <a>QA</a>
            <a [routerLink]="['/profile']">My Profile</a>
        </div>
    </section> -->
</main>
