<main class="header">
    <section class="header__web">
        <a (click)="iconToggleMenu()" [routerLink]="['/']"><img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/Atos_logo.png" alt="" class="header__logo"></a>
        <div (click)="toggleMenu()" class="header__toggle"></div>
        <ul class="header__menu">
            <li><a>Home</a></li>
            <li><a>Categories</a></li>
            <li><a>QA</a></li>
            <li class="profile__dropdown">
                <a class="profile__dropdown-btn">
                    <img src="https://images.pexels.com/photos/1382731/pexels-photo-1382731.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="profile__dropdown-image">
                    <p class="profile__dropdown-name">My Profile</p>
                </a>
                <div class="profile__dropdown-content">
                    <a [routerLink]="['/profile']">My Profile</a>
                    <a>Logout</a>
                </div>
            </li>
        </ul> 
    </section>
    <section class="header__mobile" (click)="toggleMenu()">
        <div class="header__mobile-menu"> 
            <a>Home</a>
            <a>Categories</a>
            <a>QA</a>
            <a [routerLink]="['/profile']">My Profile</a>
        </div>
    </section>
</main>
