.profile{
    &__dropdown{
        margin-left: auto;
        margin-right: 40px;

        &-btn{
            display: flex;
            align-items: center;
            position: relative;
        }

        &-image{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 10px;
        }

        &-content{
            display: none;
            position: absolute;
            width: 150px;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;

            a{
                padding: 16px 20px;
            }
        }

        &:hover &-content{
            display: flex;
            flex-direction: column;
        }
    }
}