<button class="options" (click)="onPressedOptions()">
	<ul class="options__list" *ngIf="showOptionsList">
		<li id="edit">
			<span class="material-symbols-outlined">
				edit
			</span>
			<span class="options__list__actions">Edit</span>
		</li>
		<li id="warning">
			<span class="material-symbols-outlined">
				warning
			</span>
			<span class="options__list__actions">Report</span>
		</li>
	</ul>
	<span class="material-symbols-outlined">
		more_horiz
	</span>
</button>
<div [ngClass]="{ 'active' : showOptionsList }" id="cover" (click)="onPressedCover()"></div>
