<article class="card">
	<div class="desktop-version">
		<app-likes [referenceArticleId]="idArticle"
		[counter]="likes"></app-likes>
	</div>
	<div class="content">
		<header class="card__header">
			<div class="mobile-version">
				<app-likes [referenceArticleId]="idArticle"></app-likes>
			</div>
			<app-user-data [userId]="userCreatedId"
			[date]="date"></app-user-data>
		</header>
		<hr>
		<section class="card__content">
			<h3>{{ title }}</h3>
			<p>{{ descriptionContent }}</p>
		</section>
		<footer class="card__footer">
			<a routerLink="/article/{{ idArticle }}">Show more</a>
		</footer>
	</div>
</article>
