<article class="card">
	<div class="desktop-version">
		<app-likes></app-likes>
	</div>
	<div class="content">
		<header class="card__header">
			<div class="mobile-version">
				<app-likes></app-likes>
			</div>
			<section class="card__header__user">
				<img src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card__header__user__profile" alt="">
				<div class="card__header__user__data">
					<h5>{{ firstName + ' ' + lastName }}</h5>
					<small>{{ date | date }}</small>
				</div>
			</section>
		</header>
		<hr>
		<section class="card__content">
			<h4>{{ title }}</h4>
			<p [innerHTML]="content"></p>
		</section>
		<footer class="card__footer">
			<a routerLink="/article/{{ idArticle }}">Show more</a>
		</footer>
	</div>
</article>
