.posts{
    display: flex;
    flex-direction: column;
    *{
        border-radius: 5px;
    }

    &__content{
        width: 98%;
        margin-left: auto;
        margin-top: 8px;
        padding: 15px;
        box-shadow: 0 0 3px 1px lightgray;
        flex-grow: 1;

        &-header{
            *{
                margin-bottom: 5px;
            }
        }

        &-empty{
            color: rgb(147, 147, 147);
        }

        &-list{
            display: flex; 
            margin-block: 15px 20px;  
        }

        &-text, &-util{
            width: 50%;
        }

        &-text{
            display: flex;
            flex-direction: column;

            .content-title{
                font-weight: 800;
                font-size: 1rem;
            }

            .content-date{
                font-size: 0.9rem;
            }
        }

        &-util{
            display: flex;
            justify-content: space-between;
            padding-inline: 15px;
            opacity: 0.65;
            align-items: center;

            .fa-gear{
                cursor: pointer;
            }
        }
    }

    &__header{
        width: 98%;
        margin-left: auto;
        height: 6vh;
        box-shadow: 0 0 3px 1px lightgray;

        &-button{
            height: 100%;
            border: none;
            background: none;
            padding-inline: 20px;
            font-weight: 600;
            font-size: 0.9rem;

            &:hover{
                background: rgb(239, 236, 236);
            }
        }

        .selected{
            background: #0195ff;
            color: white;
        }
    }
}