<main class="container">
	<section class="post">
		<h1 class="post__title">Title</h1>
		<ul class="post__bar-about">
			<li>Channel Parent</li>
			<li>Time to read</li>
			<li>Comments</li>
		</ul>
		<section class="post__author">
			<img src="" alt="">
			<div>
				<span>Firstname Lastname</span>
				<small>4 days ago</small>
			</div>
		</section>
		<article class="post__content"></article>
	</section>
</main>
<!-- TODO: Pasar id al servicio de article service para recuperar información del artículo -->
