<main class="container">
	<div class="channels">
		<h1>Channels</h1>
		<section class="channels__popular">
			<h3>Most popular</h3>
			<div class="channels__popular-items">
				<div class="channels__popular-item">
					<img src="https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
				</div>
				<div class="channels__popular-item">
					<img src="https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
				</div>
				<div class="channels__popular-item">
					<img src="https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
				</div>
				<div class="channels__popular-item">
					<img src="https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
				</div>
			</div>
		</section>
		<section class="channels__lists">
			<div class="channels__lists-item">
				<h3 class="title">All channels</h3>
				<app-channels-list [boardName]="boardName"></app-channels-list>
			</div>
			<div class="channels__lists-item">
				<h3 class="title">Discussions & Articles</h3>
				<app-articles-list [boardNameArticles]="boardName"></app-articles-list>
			</div>
		</section>
	</div>
</main>
