<main>
	<section class="bg-img">
		<img class="bg-img__developers" src="https://images.pexels.com/photos/7245371/pexels-photo-7245371.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Developers">
	</section>
	<section class="login">
		<h3 class="login__logo">AtoS</h3>

		<p class="login__login">Login Now</p>

		<label class="login__welcome-description">Please login to continue using Atos Community</label>

		<label class="login__login-email">Login with email</label>

		<form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
			<input class="login__input" type="email" placeholder="Email" id="email" name="email" formControlName="email">

			<input class="login__input" type="password" placeholder="Password" id="password" name="password" formControlName="password">

			<div class="login__options">

				<div class="login__options__remember">
					<input class="login__options__remember__input" type="radio" id="remember">
					<label class="login__options__remember__label" for="remember">
						Remember me
					</label>
				</div>

				<a class="login__options__forgot-password" href="">Forgot password?</a>
			</div>

			<button class="login__btn-login" type="submit">Login</button>
		</form>

		<div class="social-media">
			<button class="social-media__twitter">
				<i class="fa-brands fa-twitter"></i>
			</button>
			<button class="social-media__facebook">
				<i class="fa-brands fa-facebook-f"></i>
			</button>
		</div>

		<small class="login__text-footer">Enter via social networks</small>

		<small class="login__text-footer">Don´t have an account? <a class="login__sign-up-link " href="">Sign Up</a></small>

	</section>
</main>
