@import '../../../../../sass/variables';

.channels__items-list, .print__channels{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 18px 10px rgba(220, 220, 220, 0.856);
    height: 365px;
}

.loader{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.list-item {
    margin: 10px 25px;
    height: 25%;
    display: flex;

     .channel-title{
        align-self: center;
    }

     .channel__image{
        width: 60px;
        height: 60px;
        border-radius: 5px;
        object-fit: cover;
        align-self: center;
        margin-right: 20px;
    }

     .pfp__image{
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin-right: 15px;

        &-group{
            display: flex;
            align-self: center;

            &-image{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid white;
                margin: 0 -5px;
            }
        }
    }

    a {
        align-self: center;
        cursor: pointer;
        margin-left: auto;
        font-size: 0.6rem;
        width: 120px;
		text-decoration: none;
		color: $description-text;
    }

    &__text{
        display: flex;
        flex-direction: column;
    }

    p, h3{
        margin: 0;
        width: 80%;
    }
}

.my-pagination-channels {
	margin-left: auto;
	padding-right: 2rem;
}

.my-pagination-channels ::ng-deep .ngx-pagination .current {
	background: $--main--100;
	border-radius: 50%;
	padding: 5px 10px;
	color: black;
}

.my-pagination-channels ::ng-deep .ngx-pagination li :hover{
    background: none;
}

.my-pagination-channels ::ng-deep .ngx-pagination .pagination-next a::after {
    color: $description-text;
}

.my-pagination-channels ::ng-deep .ngx-pagination .pagination-previous a::before {
    color: $description-text;
}
