.channels__lists{
    margin-top: 30px;
    display: flex;
    flex-direction: row;

    &-item{
        width: 50%;
        margin: 0 20px;

        & .title{
            margin-bottom: 20px;
        }
    }
}

.channels__items-list{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 18px 10px rgba(220, 220, 220, 0.856);
}

.list-item {
    margin: 10px 25px;
    height: 25%;
    display: flex;

     .channel-title{
        align-self: center;
    }

     .channel__image{
        width: 60px;
        height: 60px;
        border-radius: 5px;
        object-fit: cover;
        align-self: center;
        margin-right: 20px;
    }

     .pfp__image{
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin-right: 15px;

        &-group{
            display: flex;
            align-self: center;

            &-image{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid white;
                margin: 0 -5px;
            }
        }
    }

    a {
        align-self: center;
        cursor: pointer;
        margin-left: auto;
        font-size: 0.8rem;
        width: 120px;
    }

    &__text{
        display: flex;
        flex-direction: column;
    }

    p, h3{
        margin: 0;
        width: 80%;
    }
}

.fa-chevron-right{
    margin-left: 5px;
}