@import '../../../../../sass/variables';

.comment-form {
	display: flex;
	flex-direction: column;

	&__author-profile-image {
		border-radius: 50%;
		width: 3.4rem;
		height: 3.4rem;
		margin-bottom: 1rem;
	}

	&__container-form {
		width: 100%;
	}

	&__quill-editor {
		display: block;
		width: 100%;
		background-color: $--main--50;
		border-radius: 10px;
	}

	&__submit {
		width: 100%;
		margin-top: 1rem;
		border: none;
		border-radius: 5px;
		background-color: $post-comment-btn;
		color: white;
		padding: .7rem 2rem;
	}
}

.locked-content {

	width: 100%;

	&__locked {
		width: 100%;
		background-color: $text-secondary;
		height: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 5px;

		h3 {
			color: $description-text;
			text-align: center;
		}
	}

	&__btn-locked {
		width: 100%;
		margin-top: 1rem;
		border: none;
		border-radius: 5px;
		background-color: $description-text;
		color: white;
		padding: .7rem 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
	}
}

@include media-md {
	.comment-form {

		padding: 0 5rem;

		&__container-form {
			width: 100%;
		}
	}
}

@include media-lg {
	.comment-form {
		flex-direction: row;
		padding: 0 5rem;

		&__author-profile-image {
			margin-bottom: 0;
			margin-right: 1rem;
		}

		&__container-form {
			width: 90%;
		}

		&__submit {
			width: auto;
		}
	}

	.locked-content {
		&__btn-locked {
			width: auto;
		}
	}
}
