@import '../../../../sass/variables';

.bg-img{
    &__developers{
        display: none;
    }
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
}

.login{
	width: min(100% - 2rem, 400px);
	margin-inline: auto;
	padding: 1rem;

    &__logo{
        color: $main;
        text-align: center;
		// margin-top: 4rem;
        margin-bottom: 1rem;
        font-size: 50px;
    }

    &__login{
        color: $main;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }

    &__welcome-description{
        display: block;
        text-align: center;
        margin-top: 1rem;
        color: $description-text;
    }

    &__login-email{
        display: block;
        text-align: center;
        margin-top: 1rem;
        color: $text-secondary;
        margin-bottom: 1rem;
    }

    &__input{
        display: block;
        border: 1px solid $text-secondary;
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 5px;
        padding: 1rem;
    }

    &__input::placeholder{
        color: $description-text;
        font-size: 1rem;
    }

    &__text-footer{
        display: block;
        color: $description-text;
        text-align: center;
        margin-top: .5rem;
    }

    &__options{
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        &__remember{
            display: flex;

            &__input{
                height: 20px;
                width: 20px;
                margin-right: 1rem;
            }

            &__label{
                color: $description-text;
            }
        }

        &__forgot-password{
            text-decoration: none;
            color: $description-text;
        }
    }

    &__btn-login{
        display: block;
        cursor: pointer;
        width: 100%;
        background-color: $main;
        border: none;
        border-radius: 5px;
        padding: 12px 0;
        color: white;
        font-size: 18px;
        margin-bottom: 1rem;
    }

    &__sign-up-link{
		display: inline;
        color: $main;
        text-decoration: none;
		cursor: pointer;
    }
}

.social-media{
    display: flex;
    margin: 0 auto 1rem;

    &__twitter{
        display: block;
        border: none;
        border-radius: 5px;
        background-color: #76a9ea;
        padding: 1rem 1.2rem;
        margin-left: auto;
        margin-right: 12px;
    }

    &__facebook{
        display: block;
        border: none;
        border-radius: 5px;
        background-color: #475993;
        padding: 1rem 1.4rem;
        margin-right: auto;
        margin-left: 12px;
    }
}

#description{
    margin-top: 1.5rem;
    color: #888888;
}

#login-email{
    margin-top: 1rem;
    margin-bottom: 1rem;
}


@include media-md {

    body{
        overflow: hidden;
    }
}

@include media-lg{

    main{
		display: flex;
		height: 100vh;
		overflow: auto;
	}

    .bg-img{
		width: 60%;

        &__developers{
            display: block;
            height: 100vh;
			width: 100%;
		}
    }
}
