.placeholder{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

    &__image{
        width: 90%;
        border-radius: 25px;
        box-shadow: 0 0 20px 1px lightgrey;
        position: relative;
    }

    &::after{
        content: 'Nothing to show here';
        height: 50px;
        width: 175px;
        position: absolute;
        transform: translate(-10%, -30%);
        color: #D3D6DB;
        font-weight: 800;
        font-size: 1.2em;
        text-align: center;
    }

    // &__text{
    //     position: absolute;
    //     top: 50%;
    //     left: 63%;
    //     color: #cccccc;
    //     font-weight: 800;
    //     font-size: 1.4em;
    // }
}