<main class="error">
    <article class="error__image">
        <img src="https://random-d.uk/api/randomimg" alt="Page not found duck wasnt found :(">
    </article>
    <span class="separator"></span>
    <article class="error__content">
        <div class="error__content-number">404</div>
        <div class="error__content-text">Sorry: Page not found</div>
        <div class="error__content-motto">
            Not everyone who wanders is lost... except you, so here, take a duck and think again.
        </div>
    </article>
</main>