<main class="boards">
    <section class="boards__list">
        <article class="list">
            <div class="list__header">
                <div class="list__header-title">Channels</div>
                <button class="list__header-new" (click)="newChannel()">New Channel</button>
            </div>
            <form class="list__query">
                <input 
                    type="text" 
                    class="searchbox"
                    placeholder=" &#xF002;  Search"
                    style="font-family:Arial, FontAwesome">
            </form>
            <!-- <div class="list__current">
                <div class="list__current-title">On edition</div>
                
            </div> -->
            <div class="list__all">
                <!-- <div class="list__all-title">Channels</div> -->
                <div *ngIf="printChannels.length > 0; else channelList">
                    <div *ngFor="let card of printChannels; index as i">
                        <div class="channel" (click)="updateChannel(card)">
                            <div class="channel-parent"><span>{{card.parentBoard | parentBoards | async | uppercase}}</span></div>
                            <div class="channel-name">{{ card.channelName }}</div>
                            <img class="channel-image" [src]="card.channelImage" alt="">
                        </div>
                    </div>
                </div>
                <ng-template #channelList>
                    <div class="empty">No Boards To Display</div>
                </ng-template>
            </div>
        </article>
    </section>
    <section class="boards__screen">
        <app-formulary 
            [type]="currentType"
            [board]="currentName" 
            [resetFormSubject]="resetFormSubject"
            (visible)="changeState($event)" 
            *ngIf="onEdition; else placeHolder">
        </app-formulary>
        <ng-template #placeHolder>
            <article class="placeholder">
                <img 
                    src="https://cdn.dribbble.com/users/576099/screenshots/8611828/media/488ed1f6b6ab0a20c3b72bee3e593ace.jpg" 
                    alt="Nothing to view here"
                    class="placeholder__image">
            </article>
        </ng-template>
    </section>
</main>

