<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<main class="container">
	<ng-container *ngIf="displayArticle; else loading">
		<article *ngIf="!editArticle">
			<section class="post">
				<header class="post__header">
					<h1 class="post__title">{{ currentArticle.titlePost }}</h1>
					<div class="post__options" *ngIf="displayHeaderButton">
						<app-button-options [idArticle]="idArticle"
						(editArticle)="editArticle =$event">
						</app-button-options>
					</div>
				</header>
				<ul class="post__bar-about">
					<li>
						{{ channelData.channelName }}
						<span class="material-symbols-outlined" id="code" (click)="easterEgg()">
							code
						</span>
					</li>
					<li>
						<span class="material-symbols-outlined">
							schedule
						</span>
						{{ currentArticle.readingTime }} minutes
					</li>
					<li>
						<span class="material-symbols-outlined">
							chat_bubble
						</span>
						{{ amountComments }} Comments
					</li>
				</ul>
				<hr class="post__bar">
				<section class="post__author">
					<img class="post__author__profile" src="{{ userAuthorData.profilePicture }}"
						alt="{{ userAuthorData.name }}">
					<div>
						<span class="post__author__name" routerLink="/profile/{{ currentArticle.userCreatedId }}">{{ userAuthorData.name
							}}</span>
						<small class="post__days">{{ currentArticle.date | date }}</small>
					</div>
				</section>
				<article class="post__content">
					<p [innerHTML]="currentArticle.content | safe:'html'"></p>
				</article>
			</section>
			<hr class="post__bar">
			<section *ngIf="currentArticle.disableComments">
				<section class="post__comment-form">
					<app-comment-form [replyToAuthor]="userAuthorData.name"></app-comment-form>
				</section>
				<section class="post__comments-list">
					<app-list-comments (amountComments)="amountComments = $event"></app-list-comments>
				</section>
			</section>
		</article>
		<article *ngIf="editArticle" class="edit-post">
			<h2 class="edit-post__title">Edit article</h2>
			<section class="edit-post__form">
				<form [formGroup]="editArticleForm" (ngSubmit)="onUpdateArticle()">
					<input type="text" formControlName="titlePostForm"
					class="edit-post__title-post"
					placeholder="Post title...">

					<input type="text" formControlName="descriptionContentForm"
					class="edit-post__description-post"
					placeholder="Add a description of the post">

					<input type="number" formControlName="readingTimeForm"
					class="edit-post__description-post"
					placeholder="Time to read">

					<quill-editor formControlName="contentForm"
					class="edit-post__quill-editor"
					[modules]="editorModules"
					[sanitize]="true" [styles]="{height: '300px'}"></quill-editor>

					<section class="edit-post__comments">
						<label class="edit-post__comments__label">Comments</label>
						<label class="switch">
							<input type="checkbox" formControlName="commentsForm">
							<span class="slider round"></span>
						</label>
					</section>

					<section class="edit-post__comments">
						<label class="edit-post__comments__label">Archive</label>
						<label class="switch">
							<input type="checkbox" formControlName="archiveForm">
							<span class="slider round"></span>
						</label>
					</section>

					<section class="edit-post__btn-section">
						<button class="edit-post__btn-section__save">Save</button>
						<button class="edit-post__btn-section__cancel"
						(click)="onCancelEditArticle()">Cancel</button>
					</section>
				</form>
			</section>
		</article>
	</ng-container>
	<ng-template #loading>
		<app-loading-spinner></app-loading-spinner>
	</ng-template>
</main>
