@import '../../../../../../sass/variables';

#code {
	color: white;
	cursor: unset;
}

.post {

	margin-top: 1rem;
	margin-bottom: 2rem;

	&__header {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__title {
		font-size: 2.5rem;
		margin-top: 0;
	}

	&__options {
		position: relative;
	}

	&__bar-about {
		margin-top: 1rem;
		display: flex;
		flex-direction: column;

		li {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 0.5rem 0;
			list-style-type: none;
			font-weight: bold;
			color: #707070;
			padding: 3px 0;
			vertical-align: text-bottom;
		}

		span {
			vertical-align: text-bottom;
		}

	}

	&__bar {
		border: 1px solid $text-secondary;
		margin-top: .5rem;
	}

	&__author {
		display: flex;
		margin-top: 1rem;

		&__profile {
			border-radius: 50%;
			width: 3.4rem;
			height: 3.4rem;
			margin-right: 1.5rem;
		}

		&__name {
			display: block;
			padding-top: .5rem;
		}
	}

	&__days {
		color: $description-text;
	}

	&__content {
		display: block;
		width: 100%;
		margin-top: 1rem;
	}

	&__comment-form {
		margin-top: 4rem;
	}

	&__comments-list {
		margin-top: 4rem;
	}
}

.edit-post {
	margin-top: 1rem;

	&__title {
		margin-bottom: 1.2rem;
	}

	&__form {
		background-color: #f5f7fa;
		border-radius: 5px;
		padding: 1rem;
	}

	&__title-post{
		display: block;
		border: none;
		background: none;
		height: 2.6rem;
		font-size: 1.4rem;
		// font-weight: bold;
		width: 100%;
		border-bottom: 1px solid #ccc;
		margin-bottom: 1rem;
	}

	&__description-post {
		display: block;
		border: none;
		background: none;
		height: 2.6rem;
		font-size: 1rem;
		// font-weight: bold;
		width: 100%;
		border-bottom: 1px solid #ccc;
		margin-bottom: 1rem;
	}

	&__quill-editor {
		display: block;
		margin-top: 1.2rem;
	}

	&__btn-section {
		margin-top: 1rem;
		display: flex;
		flex-direction: column;

		&__save {
			display: block;
			background-color: $main;
			color: white;
			border: none;
			border-radius: 5px;
			padding: .5rem 1rem;
			font-size: 1rem;
			margin-bottom: .5rem;
		}

		&__cancel {
			display: block;
			background-color: white;
			color: $main;
			border: 1px solid $main;
			border-radius: 5px;
			padding: .5rem 1rem;
			font-size: 1rem;
			margin-bottom: .5rem;
		}
	}

	&__comments {
		margin-top: 1rem;

		&__label {
			margin-right: 1rem;
		}
	}
}

.switch {
	position: relative;
	display: inline-block;
	width: 3rem;
	height: 1.4rem;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: .9rem;
	width: .9rem;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: $main;
}

input:focus+.slider {
	box-shadow: 0 0 1px $main;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

@include media-md {
	.post {
		&__bar-about {
			flex-direction: row;
		}

		li {
			margin-right: 7rem;
		}
	}

	.edit-post {
		&__btn-section {
			flex-direction: row-reverse;
			justify-content: flex-start;

			&__save {
				margin-left: .5rem;
			}
		}
	}
}
