<article class="board__item">
	<div class="board__about-channel">
		<h4 class="board__about-channel__title">Título</h4>
		<p class="board__about-channel__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, voluptatem nam ratione vel exercitationem similique.</p>
		<a href="" class="board__about-channel__link">Go to section</a>
	</div>
	<div class="board__more-information">
		<div class="board___stadistics">
			<div class="board__more-information__item">
				<label>Last topics</label>
				<p>7</p>
			</div>
			<div class="board__more-information__item">
				<label>Last Users</label>
				<p>7</p>
			</div>
			<div class="board__more-information__item">
				<label>Most recent</label>
				<p>Lorem, ipsum dolor.</p>
			</div>
		</div>
		<button class="board__btn-i">Access</button>
	</div>
</article>
