<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<main class="container">
	<h2 class="post__title">New Post</h2>
	<tabs>
		<tab tabTitle="Editor" class="tab">
			<form [formGroup]="markdownForm">
				<input type="text" class="post__title-post"
					placeholder="Post title..." formControlName="titlePostForm"
					[(ngModel)]="titlePost">
				<span class="alert-danger"
					*ngIf="!markdownForm.get('titlePostForm').valid &&
					markdownForm.get('titlePostForm').touched">
					Please enter a title for the post
				</span>

				<input type="text" class="post__description-post"
					placeholder="Add a description of the post"
					formControlName="descriptionContentForm"
					[(ngModel)]="descriptionContent">
				<span class="alert-danger"
					*ngIf="!markdownForm.get('descriptionContentForm').valid &&
					markdownForm.get('descriptionContentForm').touched">
					Please enter a description of your post
				</span>

				<input type="number" class="post__description-post" placeholder="Time to read"
					formControlName="readingTimeForm" [(ngModel)]="readingTime">
				<span class="alert-danger"
					*ngIf="!markdownForm.get('readingTimeForm').valid &&
					markdownForm.get('readingTimeForm').touched">
					Please enter a reading time
				</span>

				<quill-editor class="post__quill-editor" [modules]="editorModules" formControlName="contentForm"
					[sanitize]="true" (onEditorChanged)="changeEditor($event)" [styles]="{height: '300px'}">
				</quill-editor>
				<span class="alert-danger"
					*ngIf="!markdownForm.get('contentForm').valid && markdownForm.get('contentForm').touched">
					Please write a content
				</span>

				<section class="post__comments">
					<label class="post__comments__label">Comments</label>
					<label class="switch">
						<input type="checkbox" formControlName="comments">
						<span class="slider round"></span>
					</label>
				</section>
				<br>
				<section class="post__actions">
					<button class="post__submit" (click)="onSubmitArticle()"
						[disabled]="markdownForm.invalid"
						[ngStyle]="{opacity : validateForm()}">
						Publish
					</button>
					<button class="post__draft" (click)="onSaveDraft()">Save draft</button>
					<a (click)="onCancelArticle()" class="post__cancel">Cancel</a>
				</section>
			</form>
			<!-- <button class="post__cancel">Cancel</button> -->
		</tab>
		<tab tabTitle="Preview">
			<h1 class="preview__title">{{ titlePost }}</h1>
			<section class="preview__data">
				<span class="preview__data__date">{{ currentDate |  date : 'longDate' }}</span>
				<span class="preview__data__time">
					<span class="material-symbols-outlined preview__data__timer">
						schedule
					</span>
					{{ readingTime }} min</span>
			</section>
			<p class="preview__description">{{ descriptionContent}}</p>
			<hr>
			<p [innerHTML]="quilleditorContent" class="preview__content"></p>
		</tab>
	</tabs>
</main>
