<main class="container">
	<h2 class="post__title">New Post</h2>
	<tabs>
		<tab tabTitle="Editor" class="tab">
			<form [formGroup]="markdownForm" (ngSubmit)="submitPost()">

				<input type="text" class="post__title-post" placeholder="Post title..." formControlName="titlePostForm" [(ngModel)]="previewArticle.title">
				<span class="alert-danger" *ngIf="!markdownForm.get('titlePostForm').valid && markdownForm.get('titlePostForm').touched">
					Please enter a title for the post
				</span>

				<span>{{currentDate | date : 'longDate' }}</span>
				<input type="text" class="post__date-post" value="{{currentDate | date : 'longDate' }}" formControlName="currentDateForm">

				<input type="text" class="post__description-post" placeholder="Add a description of the post">

				<input type="text" class="post__description-post" placeholder="Time to read">

				<quill-editor class="post__quill-editor" [modules]="editorModules" formControlName="mdeInput" [sanitize]="true" (onEditorChanged)="changeEditor($event)" [styles]="{height: '300px'}">
				</quill-editor>
				<span class="alert-danger" *ngIf="!markdownForm.get('mdeInput').valid && markdownForm.get('mdeInput').touched">
					Please write a content
				</span>
				<br>
				<button class="post__submit">Publish</button>
			</form>
		</tab>
		<tab tabTitle="Preview">
			<h1>{{ previewArticle.title }}</h1>
			<br>
			<span>{{ currentDate | date : 'longDate' }}</span>
			<br><br>
			<p [innerHTML]="quilleditorContent"></p>
		</tab>
	</tabs>
</main>
