<form [formGroup]="formChannel" (ngSubmit)="onSubmit()" style="margin-top: 3rem;">
	<label for="channelName">CHANNEL NAME</label><br>
	<input type="text" placeholder="Your amazing new channel name" name="channelName" id="channelName" formControlName="channelName">
	<br>
	<br>
	<label for="channelDescription">CHANNEL DESCRIPTION</label><br>
	<input type="text" name="channelDescription" id="channelDescription" placeholder="Amazing channel description..." formControlName="channelDescription">
	<br>
	<label for="channelImage">CHANNEL IMAGE</label><br>
	<input type="text" name="channelImage" id="channelImage" placeholder="URL" formControlName="channelImage">
	<br>
	<label for="parentBoard">PARENT BOARD</label><br>
	<select name="parentBoard" id="parentBoard" formControlName="parentBoard">
		<option *ngFor="let board of boards" [value]="board.boardName | lowercase | formatUrl ">{{ board.boardName }}</option>
	</select>
	<br>
	<button>CREATE NEW BOARD</button>
</form>
