<main class="container" *ngIf="!isLoading; else loader">
	<section class="title-page">
		<h2>Boards</h2>
		<input type="text" name="boardFilter" id="boardFilter" placeholder="Search a board" [(ngModel)]="boardFilter">
	</section>
	<section class="board" id="board">
		<article class="board__item" *ngFor="let board of boards | searchFilter: boardFilter |
				paginate : { itemsPerPage: 4, currentPage: page }">
			<div class="board__about-channel">
				<h4 class="board__about-channel__title">{{ board.boardName }}</h4>
				<p class="board__about-channel__description">{{ board.boardDescription }}</p>
				<a routerLink="/channels/{{ board.id }}"
					class="board__about-channel__link">Go to section</a>
			</div>
			<div class="board__more-information">
				<!-- <div class="board___stadistics">
					<div class="board__more-information__item">
						<label>Last topics</label>
						<p>7</p>
					</div>
					<div class="board__more-information__item">
						<label>Last Users</label>
						<p>7</p>
					</div>
					<div class="board__more-information__item">
						<label>Most recent</label>
						<p>Lorem, ipsum dolor.</p>
					</div>
				</div> -->
				<app-board-stats [boardId]="board.id"></app-board-stats>
				<a routerLink="/channels/{{ board.id }}" class="board__btn-i">Access</a>
			</div>
		</article>
		<h3 *ngIf="!(boards | searchFilter: boardFilter )?.length">No items found</h3>
		<pagination-controls class="my-pagination" (pageChange)="page = $event" previousLabel="" nextLabel="" *ngIf="(boards | searchFilter: boardFilter )?.length">
		</pagination-controls>
	</section>
</main>
<ng-template #loader>
	<div class="lds-dual-ring"></div>
</ng-template>
