<main class="container">
	<div class="circle">
		<div class ="mid-circle">
		<div class ="big-circle"></div>
		</div>
	</div>
	<section class="welcome">
		<h1 class="welcome__title-landing-page">
			Lorem Ut venenatis interdum diam Pellentesque habitant
		</h1>
		<p class="welcome__content-description">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit maiores vero, asperiores aliquid quaerat et velit officiis sequi harum ullam!
		</p>
		<a [routerLink]="['/sign-in']" class="welcome__join-btn">
			Join
		</a>
	</section>
	<section class="about">
		<div class="about__wrapper-content">
			<p class="about__text-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, dolorem? Minus recusandae saepe facilis laboriosam voluptates aperiam hic nisi molestiae earum vero officia blanditiis repellat dolorum corrupti exercitationem quia quo cumque officiis ad, repudiandae, fugiat dolorem placeat? Facilis nam animi quae cumque temporibus aliquam? Odio similique perspiciatis omnis dolorum nobis.</p>
			<embed class="about__img-content" src="assets/images/img-landing-page/undraw_co-working_re_w93t.svg"/>
		</div>
		<div class="about__wrapper-content" id="about__reverse-content">
			<p class="about__text-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, dolorem? Minus recusandae saepe facilis laboriosam voluptates aperiam hic nisi molestiae earum vero officia blanditiis repellat dolorum corrupti exercitationem quia quo cumque officiis ad, repudiandae, fugiat dolorem placeat? Facilis nam animi quae cumque temporibus aliquam? Odio similique perspiciatis omnis dolorum nobis.</p>
			<embed class="about__img-content" src="assets/images/img-landing-page/undraw_co_workers_re_1i6i.svg"/>
		</div>
		<div class="about__wrapper-content">
			<p class="about__text-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, dolorem? Minus recusandae saepe facilis laboriosam voluptates aperiam hic nisi molestiae earum vero officia blanditiis repellat dolorum corrupti exercitationem quia quo cumque officiis ad, repudiandae, fugiat dolorem placeat? Facilis nam animi quae cumque temporibus aliquam? Odio similique perspiciatis omnis dolorum nobis.</p>
			<embed class="about__img-content" src="assets/images/img-landing-page/undraw_shared_workspace_re_3gsu.svg"/>
		</div>
	</section>
</main>
