@import '../../../../sass/variables';


.register{
	width: min(100% - 2rem, 400px);
	margin-inline: auto;
	padding: 1rem;

	&__logo{
		color: $main;
        text-align: center;
		margin-top: 4rem;
        margin-bottom: 2rem;
        font-size: 50px;
	}

	&__sign-up{
		color: $main;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
		margin-bottom: 2rem;
	}

	&__description{
		display: block;
        text-align: center;
        margin-top: 1rem;
		margin-bottom: 3.5rem;
        color: $description-text;
	}

	&__input{
        display: block;
        border: 1px solid $text-secondary;
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 5px;
        padding: 1rem;
    }

	&__input::-webkit-datetime-edit-text{
		color: $description-text;
		padding: 0 0.3em;
	}

	&__input::-webkit-datetime-edit-day-field{
		color: $description-text;
	}

	&__input::-webkit-datetime-edit-month-field{
		color: $description-text;
	}

	&__input::-webkit-datetime-edit-year-field{
		color: $description-text;
	}

	&__btn-register{
		margin-top: 5rem;
		display: block;
        cursor: pointer;
        width: 100%;
        background-color: $main;
        border: none;
        border-radius: 5px;
        padding: 12px 0;
        color: white;
        font-size: 18px;
        margin-bottom: 1rem;
	}
}
