<main>
	<div *ngIf="isLoading" style="text-align: center;">
		<app-loading-spinner></app-loading-spinner>
	</div>
	<section class="register" *ngIf="!isLoading">
		<h3 class="register__logo">AtoS</h3>

		<p class="register__sign-up">Sign up</p>

		<label class="register__description">Register to continue using Atos Community</label>

		<div class="register__alert-danger" *ngIf="errorMessage">
			<p>{{ errorMessage }}</p>
		</div>

		<form [formGroup]="formRegisterUser" (ngSubmit)="onSubmit()">
			<input type="text" class="register__input" name="firstName" id="firstName" placeholder="First Name" formControlName="firstName">

			<input class="register__input" type="text" name="lastName" id="lastName" placeholder="Last Name" formControlName="lastName">

			<input class="register__input" type="date" name="birthday" id="birthday" placeholder="Birthday" formControlName="birthday">

			<input class="register__input" type="email" name="email" id="email" placeholder="Email" formControlName="email">

			<input class="register__input" type="password" name="password" id="password" placeholder="Password" minlength="6" formControlName="password">

			<button class="register__btn-register" type="submit">Sign up</button>
		</form>
	</section>
</main>
