<main>
	<section class="register">
		<h3 class="register__logo">AtoS</h3>

		<p class="register__sign-up">Sign up</p>

		<label class="register__description">Register to continue using Atos Community</label>

		<form>
			<input class="register__input" type="text" name="first-name" id="first-name" placeholder="First Name">

			<input class="register__input" type="text" name="last-name" id="last-name" placeholder="Last Name">

			<input class="register__input" type="date" name="birthday" id="birthday" placeholder="date">

			<input class="register__input" type="email" name="email" id="email" placeholder="Email">

			<button class="register__btn-register" type="submit">Sign up</button>
		</form>
	</section>
</main>
