<main class="home">
    <section class="home__left">
        <article class="home__left-header">
            <div class="header__title">Hi!<br>Jonathan Oliva</div>
            <div class="header__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, asperiores?</div>
        </article>
        <article class="home__left-news">
            <div class="news__title">HAPPENING NOW</div>
            <div class="news__items">
                <div class="item" *ngFor="let card of articleReport |
				paginate : { itemsPerPage: 4, currentPage: page }">
                    <img src="{{card.idItemReported | parentImage | async }}" alt="">
                    <div class="item__title">{{card.activity}} Report</div>
                    <div class="item__description">{{ card.reason }}</div>
                    <div class="item__footer">
                        <div class="item__footer-icons">
                            <i class="fa-solid fa-earth-americas"></i>
                             {{card.idItemReported | parentName | async }}
                        </div>
                        <div class="item__footer-icons">
                            <i class="fa-solid fa-clock"></i>
                             {{ card.reportDate | timeAgo}}
                        </div>
                    </div>
                </div>
            </div>
            <pagination-controls class="my-pagination" (pageChange)="page = $event" previousLabel="" nextLabel="">
            </pagination-controls>
        </article>
    </section>
    <section class="home__right">
        <article class="home__right-menu">
            <div class="menu__notifications">
                <i class="fa-solid fa-bell"></i>
            </div>
            <div class="menu__profile">
                <img src="https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt="">
            </div>
        </article>
        <article class="home__right-reports">
            <div class="reports__title">
                Reports
            </div>
            <div *ngFor="let card of commentReport" class="comment-reports">
                <div class="reports__content">
                    <div class="reports__content-card">
                        <img class="card__image" src="https://images.unsplash.com/photo-1664575601711-67110e027b9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" alt="">
                        <div class="card__title">
                            {{card.activity}} Report
                        </div>
                        <div class="card__description">
                            {{ card.reason }}
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</main> 
