@import '../../../../../../sass/variables';

.tabs{
	&__view{
		background-color: #f5f7fa;
		padding: .5rem 1.5rem;
	}

	&__wrapper{
		display: flex;
	}

	&__items{
		margin: 1rem;
		list-style-type: none;

		&__active{
			font-weight: bold;
			border-bottom: 2px solid $main;
			color: $main;
		}
	}
}
