@import '../../../../../sass/variables';

.post{
	&__title{
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-size: 2rem;
	}

	&__submit{
		margin-top: 2rem;
		display: block;
		background-color: $main;
		color: white;
		border: none;
		border-radius: 5px;
		padding: .5rem 1rem;
	}

	&__title-post{
		display: block;
		border: none;
		background: none;
		height: 2.6rem;
		font-size: 1.4rem;
		font-weight: bold;
		width: 100%;
	}

	&__date-post{
		background: none;
		border: none;
		height: 1rem;
		font-size: 1rem;
		margin-bottom: 1rem;
		visibility: hidden;
	}

	&__quill-editor{
		display: block;
	}
}

input:focus{
	outline: none;
}
