<main class="container">
	<h2 class="post__title">New Post</h2>
	<tabs>
		<tab tabTitle="Editor" class="tab">
			<form [formGroup]="mdeForm" (ngSubmit)="onSubmitPost()">
				<input type="text" class="post__title-post" placeholder="Title" formControlName="titlePostForm" [(ngModel)]="post.title">
				<span>{{currentDate | date : 'longDate' }}</span>
				<input type="text" class="post__date-post" value="{{currentDate | date : 'longDate' }}" formControlName="currentDateForm" [(ngModel)]="post.date">
				<quill-editor class="post__quill-editor" [modules]="editorModules" formControlName="mdeInput" (onEditorChanged)="changeEditor($event)" [styles]="{height: '300px'}">
				</quill-editor>
				<br>
				<button class="post__submit">Publish</button>
			</form>
		</tab>
		<tab tabTitle="Preview">
			<h1>{{ post.title }}</h1>
			<span>{{ currentDate | date : 'longDate' }}</span>
			<p [innerHTML]="editorContent"></p>
		</tab>
	</tabs>
</main>
