<article class="channels__items-list">
	<div *ngFor="let post of posts | paginate : { itemsPerPage: 4, currentPage: pagePost, totalItems: postsLength, id : 'posts' }">
		<app-channel-article-card [article]="post"></app-channel-article-card>
		<!-- <img src="{{ onFetchUserProfilePicture(post.userCreatedId) }}" alt="" class="pfp__image">
		<div class="list-item__text">
			<h4>
				<a routerLink="/article/{{ post.id }}">
					{{ post.titlePost | shortString : 25 }}
				</a>
			</h4>
			<p>{{ post.userCreatedId }}</p>
			<p [innerHTML]="post.descriptionContent | shortString : 20 "></p>
		</div> -->
		<!-- <div class="pfp__image-group">
			<img src="https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="pfp__image-group-image">
			<img src="https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="pfp__image-group-image">
			<img src="https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="pfp__image-group-image">
		</div> -->
	</div>
	<pagination-controls class="my-pagination-articles" id="posts" (pageChange)="pagePost = $event" previousLabel="" nextLabel=""></pagination-controls>
</article>
