<button class="btn-options" (click)="onPressedOptions()">
	<ul class="btn-options__list" *ngIf="showOptionsList">
		<li id="edit" *ngIf="canEdit" (click)="onEdit()">
			<span class="material-symbols-outlined">
				edit
			</span>
			<span class="btn-options__list__actions">Edit</span>
		</li>
		<li id="delete" *ngIf="canDelete" (click)="onDelete()">
			<span class="material-symbols-outlined">
				delete
			</span>
			<span class="btn-options__list__actions">Delete</span>
		</li>
		<li id="warning" *ngIf="canReport" (click)="onReport()">
			<span class="material-symbols-outlined">
				warning
			</span>
			<span class="btn-options__list__actions">Report</span>
		</li>
	</ul>
	<span class="material-symbols-outlined">
		more_vert
	</span>
</button>
<div [ngClass]="{ 'active' : showOptionsList }" id="cover" (click)="onPressedCover()"></div>
