<article class="comment-card" *ngFor="let comment of comments">
	<header class="comment-card__header">
		<img class="comment-card__header__author-profile" src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
		<div class="comment-card__header__author-data">
			<span class="comment-card__header__author-name">Firstname Lastname</span>
			<small class="comment-card__header__days-ago">{{ comment.createdAt | date }}</small>
		</div>
		<button class="comment-card__header__options">
			<span class="material-icons">more_vert</span>
		</button>
	</header>
	<section class="comment-card__content">
		<p [innerHTML]="comment.commentBody"></p>
	</section>
</article>
<hr>
