<article class="comment-card">
	<header class="comment-card__header">
		<img class="comment-card__header__author-profile" src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
		<div class="comment-card__header__author-data">
			<span class="comment-card__header__author-name">Firstname Lastname</span>
			<small class="comment-card__header__days-ago">4 days ago</small>
		</div>
		<button class="comment-card__header__options">
			<span class="material-icons">more_vert</span>
		</button>
	</header>
	<section class="comment-card__content">
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, obcaecati omnis! Animi, quod. Maxime tempore veniam eveniet adipisci eius. Ea eius sequi, vel expedita libero alias dolor quibusdam magni nemo.
		</p>
		<pre class="ql-syntax">&lt;section class="list-articles"
			&nbsp; &nbsp; &nbsp; &nbsp; paginate :  itemsPerPage: 4, currentPage: page, totalItems: articlesLength "&gt;
			&nbsp; &nbsp; &nbsp; &nbsp; &lt;article class="list-articles__card"&gt;
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="list-articles__card__btn-interacction"&gt;
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;button class="list-articles__card__btn-interacction__btn-arrow-up"&gt;&lt;span class="material-icons"&gt;arrow_upward&lt;/span&gt;&lt;/button&gt;
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label class="list-articles__card__btn-interacction__counter"&gt;17&lt;/label&gt;
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;button class="list-articles__card__btn-interacction__btn-arrow-down"&gt;&lt;span class="material-icons"&gt;arrow_downward&lt;/span&gt;&lt;/button&gt;
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;
			</pre>
	</section>
</article>
<hr>
